<!DOCTYPE html>
<html ng-app="gemStore">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="application.css">
<!-- jQuery library -->


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src ="app123.js"></script>


  </head>
  


  <body class="list-group" ng-controller="StoreController as store" style="background-color: rgba(85, 85, 85, 0.23);">

  <img src="https://static1.squarespace.com/static/5472cb88e4b00abac9723402/t/54740a3de4b03905fd235909/1416890941836/T19_Sky_Sports_Banner.jpg?format=2500w" style="width:100%;">
  
<nav class="navbar navbar-inverse " data-spy="affix" data-offset-top="197">
  <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
        
      </button>
     <a  href="#"><img src="images/logo.jpg" alt="SportsBase" style="height: 68px;"></a> 
    </div>
     <div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
      <li ><a href="main_Shubham_Patel.html">Home</a></li>
      <li>
                    <a href="teams.html" class="dropdown-toggle" data-toggle="dropdown">Teams <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                                              
                       
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Soccer</a>
                            <ul class="dropdown-menu">
                                <li><a href="manutd.html">Manchester United</a></li>
                                <li><a href="real.html">Real madrid</a></li>
                             
                                
                            </ul>
                        </li>
                        
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NBA</a>
                            <ul class="dropdown-menu">
                                <li><a>Boston Celtics </a></li>
                                <li><a>New York Knicks</a></li>
                                </ul>
                        </li>
                        
                        <li class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NFL</a>
                            <ul class="dropdown-menu">
                                <li><a>New England Patriots</a></li>
                                <li><a>Oakland Raiders</a></li>
                             
                                
                            </ul>
                        </li>
                        
                        
                    </ul>
                </li>
                <li>
                
                <li ><a href="Leagues_Shubham.html">Leagues</a></li>
                
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-level">
                                              
                       <li >
                            <a href="sportsbasequiz.html" >SportsBase Quiz</a>
                           
                        </li>
                        
                        <li class="divider"></li>
                       <li>
                            <a href="sportsbaseblog.html" > SportsBase Blog</a>
                            
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="shop.html" > Shop</a>
                            
                        </li>
                        
                        
                        
                    </ul>
                </li>
                <li>
                
                <li ><a href="news.html">News</a></li>
                 <li ><a href="Analysis.html">Analysis</a>
      
    </ul>
    
    
    
    
    
    
    <ul class="nav navbar-nav navbar-right">
      <li><a data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="cartpage.php"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
    </ul>
  </div>
  </div>
</nav>




  <div class="background"></div>
    
    
  <div id="posts" class="col-xs-11 col-sm-11 col-md-11">

      <div class="clearfix"></div>
    

    <!--  Store Header  -->
    <header>
      <h1 class="text-center">SPORTSBASE.COM BLOG</h1>
      <h1 class="text-center">Where Fans Talk With Heart</h1>
    </header>
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
     



      <!-- Image Gallery  -->
    
      <div class='gallery' ng-controller="GalleryController as gallery"  ng-show="product.images.length">
        
        <ul class="img-thumbnails clearfix">
          <li class="small-image pull-left thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image}}" />
          </li>
        </ul>
      </div>

     

    

      <!-- Product Tabs -->
      <section class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active: tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a></li>
          <li ng-class="{ active: tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Rating</a></li>
          <li ng-class="{ active: tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <div ng-show="tab.isSet(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div ng-show="tab.isSet(2)">
          <h4>Ratings</h4>
          <blockquote>Ratings: {{product.ratings}}</blockquote>
        </div>
        <div ng-show="tab.isSet(3)">
          <h4>Reviews</h4>

          <blockquote ng-repeat = "Reviews in product.reviews | orderBy: '-upvotes'" >
          <b>Stars : {{Reviews.stars}}</b><br/>
          {{Reviews.body}}
          &nbsp &nbsp &nbsp
          <span class="glyphicon glyphicon-thumbs-up" ng-click = "incrementUpvotes(Reviews)">
          {{Reviews.upvotes}} 
          </span>

           <br/>
          
          <cite>Provided By:- {{Reviews.author}} on {{Reviews.createdOn | date}}</cite>

            
         </blockquote>


         <!--  Review Form -->
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product) "novalidate>

              <!--  Live Preview -->
              <blockquote >
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">{{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!--  Review Form -->
              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required />
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
              </fieldset>
            </form>
          
          
        </div>
      </section>


    </div>


  </body>

</html>
