.thumbnail{
	position: relative;
}

.postcontent{
	position: absolute;
	top:70%;
    left:4%;
    color: white;

	text-shadow: 1px 1px #808080;
}


.hidden{
	display: none;
}

div.item img{
	width: 100%;
	max-height: 580px;
}

div.item active img{
	width: 100%;
	max-height: 580px;
}




/*diamond images*/

.diamond, .dia {
 margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 250px;
  height: 200px;
}
.diamond {
    
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
  width: 380px;
  height: 300px;
  transform: rotate(-45deg);
}
.diamond img {
  width: 100%;
  height: auto;
}



h1, h2 {
  font-weight: normal;
  text-align: center;
}
h2 {
  margin: 0 0 1.7em;
}
.part {
  padding: 50px 20px 85px;
  
  color: #AFE4FC;
}





.diamond img {
  position: relative;
  width: 105%; left: -7px; top: -80px;
}

#show1, #show2, #show3{
	color: black;
	display: none;
}


/*soccer image*/

#cf {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

/*nav baar footer*/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: red;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
  .affix {
      top: 0;
      width: 100%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background-color: #F44336 ;
      border-color: #F44336 ;
      z-index: 1000;
 }
  .affix a {
      color: #fff !important;
      padding: 15px !important;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  .affix-top a {
      padding: 25px !important;
  }
  .affix + .container-fluid {
      padding-top: 95px;
  }

  footer {
      background-color: #555;
      color: white;
      
   }